@font-face {
    font-family: 'bpdotsbold';
    src: url('../fonts/BPdotsBold-webfont.eot');
    src: url('../fonts/BPdotsBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
