body{
    background-color:#32283c;
}

.header{
    color:whitesmoke;
    text-align:center;
}

.subheader-wrapper{
    font-size: 20px;
    color: papayawhip;
    margin: auto;
    max-width: 650px;
    padding: 5px;
}

.data-wrapper{
    margin: auto;
    font-family: 'bpdotsbold', Arial, sans-serif;
    font-size: 28px;
    color: orange;
    background-color: black;
    max-width:650px;
    margin-bottom: 20px;
}

.line-wrapper{
    grid-template-columns: 0.5fr 4fr 1fr;
    display: grid;
}

.data-left{
    margin: 0 0 0 10px;
    min-width:45px;
}

.data-middle{
    margin: 0 15px 0 15px;
    white-space: nowrap;
    overflow-x: scroll;
    height: 45px;
}
.data-middle::-webkit-scrollbar {
    display: none;
}

.data-right{
    margin: 0 10px 0 0;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    min-width:50px;
}
.data-right::-webkit-scrollbar {
    display: none;
}

.error-wrapper{
    padding: 15px;
    margin: auto;
    max-width: 650px;
    font-size: large;
    line-height:2;
    color:whitesmoke;
}