<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <!--meta tags go here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Live TfL Bus Arrivals</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--app-wide style sheets go here-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{  url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{  url_for('static', filename='css/fonts.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{  url_for('static', filename='css/styles.css') }}" type="text/css" charset="utf-8" />
</head>
<body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}
    <script type="text/javascript" src="{{  url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{  url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
