{% extends 'boilerplate.html' %} {% block content %}
<div class="header"><h4>
Bus Times
{% if response[0] is not none %}
for {{response[0]['stationName']}}
{% endif %}
</h2></div>
<div class="data-wrapper">
    {% for item in response %}
    <div class="line-wrapper">
        <div class="data-left">
            {{item['lineName']}}
        </div>
        <div class="data-middle">
            {{item['destinationName']}}
        </div>
        <div class="data-right">
            {{item['expectedArrivalString']}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}