{% extends 'boilerplate.html' %} {% block content %}
<div class="header"><h3>
Bus Times
{% if response|length > 0 %}
for {{response[0]['stationName']}}
{% endif %}
</h3></div>
<div class="data-wrapper">
    {% if response|length > 0 %}
    {% for item in response %}
    <div class="line-wrapper">
        <div class="data-left">
            {{item['lineName']}}
        </div>
        <div class="data-middle">
            {{item['destinationName']}}
        </div>
        <div class="data-right">
            {{item['expectedArrivalString']}}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="data-middle">
        No data for that stop...
    </div>
    {% endif %}
</div>
{% endblock %}