{% extends 'boilerplate.html' %} {% block content %}
<h4>
    {% if response[0] is not none %}
        {{response[0]['stationName']}}
    {% endif %}
</h2>
{% for item in response %}
<div class="data-wrapper">
    <div class="line-wrapper">
        <div class="data-left">
            {{item['lineName']}}
        </div>
        <div class="data-middle">
            {{item['destinationName']}}
        </div>
        <div class="data-right">
            {{item['expectedArrival']}}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}